/*** Citation Style Marker ***/

/* Puts the type of citation style a citation is using next to it */
/* Documentation at [[en:w:User:BrandonXLF/CitationStyleMarker]] */
/* By [[en:w:User:BrandonXLF]] */

body:not(.nocsmarker) cite.cs1::after {
	content: ' CS1';
	color: #b4b;
	font-weight: bold;
}

body:not(.nocsmarker) cite.cs2::after {
	content: ' CS2';
	color: #b40;
	font-weight: bold;
}

body:not(.nocsmarker) .csblue::after {
	content: ' CSBLUE';
	color: #848;
	font-weight: bold;
}