/*** Float Side ***/

/* Makes the side menu float and makes it scrollable */
/* Documentation at [[en:w:User:BrandonXLF/FloatSide]] */
/* By [[en:w:User:BrandonXLF]] */

#mw-panel, /* Vector */
#quickbar, /* CologneBlue */
#mw_portlets, /* Modern */
#sidebar, /* Monobook */
#mw-site-navigation, /* Timeless */
#mw-related-navigation /* Timeless right */ {
    position: fixed;
    overflow: hidden;
    height: 100%;
}
#mw-related-navigation /* Timeless right */ {
	right: calc(calc(calc(100% - 115em) /2) - 1em);
	padding-bottom: 14em;
}
#mw-site-navigation /* Timeless */ {
	padding-bottom: 14em;
}
#mw-panel:hover, /* Vector */
#quickbar:hover, /* CologneBlue */
#mw_portlets:hover, /* Modern */
#sidebar:hover, /* Monobook */
#mw-site-navigation:hover, /* Timeless */
#mw-related-navigation:hover /* Timeless right */ {
    overflow-y: auto;
    overflow-x: hidden;
}
.skin-timeless #mw-content-wrapper /* Timeless */ {
	margin: 0 14em;
}
.skin-monobook .mw-wiki-logo /* Monobook */ {
	position: fixed;
}